{% extends 'home/base.html'%}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> {% block title %}{{post.title}}{% endblock %}</title>
    </head>
    {% block content %}
    <body>
      <!-- 
          current user : {{ user.id }}
           post author : {{ post.author.id }}
      --> 
        <h1>{{ post.title }} </h1>
        <small>By: {{ post.author.first_name }}
            {{ post.author.last_name }} -
            {{ post.post_date }} 
        {% if user.is_authenticated %}
            {% if user.id == post.author.id  %}
             <a href= "{%url 'update_post' post.pk%}"> (Edit)</a> 
             - <a href="{% url 'delete_post' post.pk %}"> (Delete) </a> </small>
             {% endif %}
        {% endif %}  
        <br />
        <hr>
        <br/>
        {{ post.body|safe }}
        <br/></br>
        <a href="{% url 'home' %}" class = "btn btn-secondary">back </a> ß
        </br> </br>
        <form  action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type= "submit", name = "post_id" , value = "{{ post.id }}", class = "btn btn-primary btn-sm">Like</button> - {{ total_likes } likes
        
    </body>
    {% endblock %}
</html>
        
